    body {
        background-color: rgb(40, 40, 40);
        font-size: 150%;
        font-family: "Consolas", sans-serif, monospace;
        color: chartreuse;
        padding: 20px;
    }
    p {
        text-align: justify;
    }
    h1 {
        color: aqua;
        margin-top: 0;
    }
    h2 {
        color: aqua;}
        h3 {
            color: aqua;}
    table {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-spacing: 50px;
        margin-bottom: 20px;
    }

    .columns {
        display: flex;
        width: 100%;
    }
    .left {
        width: 50%;
    }
    .right {
        width: 40%;
    }
    .right img {
        width:30%;
        height:auto;
        border: 5px solid cyan;
        padding: 10px;
        margin-left: 5%;
        position:fixed;
        display:block;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    .footer {
        display: inline;
        width: 100%;
        text-align: center;
        color: magenta;
        font-size: 50%;
    }
    a {
        text-decoration: none;
        color:magenta
    }
    a:hover {
        text-decoration: none;
        color:chartreuse
    }
    li {
  margin-bottom: 1em;}

  @media (max-width: 600px) {
  .columns {
    flex-direction: column;
  }
  .right, .left {
    width: 100%;
    float: none;
  }
  .right {
    order: -1;
    margin-bottom: 20px;
  }
    .right img {
    position: static;
    width: 100%;
    margin-left: 0;
  }
}
body {
        font-size: 180%;    
    }
    p {
        font-size: 1.1em;
    }
    h1, h2, h3 {
        font-size: 1.4em; 
        }